/*================================= 
        HEADER > CENTER BAR
==================================*/
.header__centrebar {
    background-color: var(--secondary);
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
}

@media (max-width: 770px) {
    .header__centrebar {
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .header__centrebar {
        display: none;
    }
}

.header__centrelogo img {
    width: 200px;
    padding: 0 1rem;
}

.header__branches-sign-in {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0 1rem 0 auto;
}

.header__branches, .header__sign-in {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
    font-family: var(--ptsans);
}

.branches {
    display: inline-block;
    font-size: 2rem;
    height: 2.3rem;
    width: 100%;
    background-position-x: center;
    background-size: 2.3rem;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/place.svg");
}

.sign-in {
    padding-bottom: 22px;
    display: inline-flex;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-image: url("../../../assets/images/lock.svg");
}

.header__branches, .header__sign-in:hover {
    cursor: pointer;
}

.branches-link {
    color: var(--primary-light);
    font-size: 0.9rem;
    text-decoration: none;
}

.header__sign-in {
    background-color: var(--primary-light);
    border: solid 1px var(--primary-light);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.3);
    border-radius: 7px;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    color: white;
    width: 80px;
    height: 30px;
}

.sign-in-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

/*==== Mobile ====*/

/* Mobile Centre Bar */
.header__centrebar-mob {
    display: none;
}

@media (max-width: 900px) {
    .header__centrebar-mob {
        background-color: var(--secondary);
        padding: 1rem 0;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 60px;
    }
}

/* Header Center wrapper (Mobile) */
.header__centrewrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 10.5fr 2fr;
    flex-flow: row;
    align-items: center;
    padding: 0 1rem;
    font-family: var(--ptsans);
}

@media (max-width: 400px) {
    .header__centrewrapper {
        padding: 0.5rem 0;
        grid-template-columns: 1fr 1fr 10.5fr 3fr;
    }
}

.mobmenu-item {
    font-size: 0.7rem !important;
}

.mobmenu {
    height: 1.4rem;
    width: 2rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-image: url("../../../assets/images/hamburger-menu.svg");
}

/* Hamburger Menu */
.header__centrewrapper--menu {
    display: flex;
    width: 20%;
    padding: 0 1rem;
    text-align: center;
    color: var(--primary-light);
}

@media (max-width: 400px) {
    .header__centremob--menu {
        padding: 0 0.3rem;
    }
}

.header__centrewrapper--menu p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

/*The anchor tag wrapper around the hamburger menu*/
.header__centre-mob-link-wrapper {
    text-decoration: none;
    color: var(--primary-light);
}

/* Branches (Mobile) */
.header__centrewrapper--branches {
    display: flex;
    width: 20%;
    text-align: center;
}

.header__centrewrapper--branches p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.header__centrewrapper-brancheslink {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-light);
}

/* Logo (Mobile) */
.header__centrewrapper--logo {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.header__centrewrapper--logo img {
    width: 150px;
}

@media (max-width: 600px) {
    .header__centrewrapper--logo img {
        width: 100px;
    }
}

@media (max-width: 550px) {
    .header__centrewrapper--logo img {
        width: 80px;
        padding-left: 1rem;
        position: absolute;
        margin: auto;
        top: 1.25rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media (max-width: 400px) {
    .header__centrewrapper--logo img {
        width: 80px;
        top: 1.8rem;
    }
}

/*branches (Mobile) */
.mobbranches {
    height: 1.4rem;
    width: 2rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-image: url("../../../assets/images/place.svg");
}

/* Sign in (Mobile) */
.header__centrewrapper--signin {
    font-size: 0.8rem;
}

.header__centrewrapper-signinlink {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-light);
}

.header__centrewrapper--signin p {
    margin: 0.1rem 0;
}

.mobsign-in {
    height: 1.4rem;
    width: 2rem;
    display: flex;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-image: url("../../../assets/images/lock-mob.svg");
}
