/*================================= 
        HEADER > CENTER BAR
==================================*/
.header__centrebar {
    background-color: var(--secondary);
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    height: 60px; }
    @media (max-width: 770px) {
    .header__centrebar { justify-content: center; }}
    @media (max-width: 900px) {
    .header__centrebar { display: none;  
}}

.header__centrebar--selco-logo img {
    width: 200px;
    padding: 0 1rem;}

.header__branches-sign-in {
    display: flex;
    flex-flow: row;
    margin: 0 1rem 0 auto;}

.header__branches, .header__sign-in {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0.75rem;
    font-family: 'PT Sans', sans-serif;}

.fa-map-marker-alt.branches { font-size: 2rem; }
.fas,.fa-lock.sign-in { padding-bottom: 5px; }
.header__branches,.header__sign-in:hover { cursor: pointer; }

.branches__link {
    color: var(--primary);
    text-decoration: none;}

.header__sign-in {
    background-color: var(--primary-light);
    border: solid 1px var(--primary-light);
    border-radius: 15px;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    color: white;
    width: 80px;
    height: 35px;}

.sign-in__link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;}

/*==== Mobile ====*/

/* Mobile Centre Bar */
.header__centrebar-mob {
    display: none;}
    @media(max-width: 900px) {
    .header__centrebar-mob {
    background-color: var(--secondary);
    padding: 1rem 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60px;
}}

/* Header Center wrapper (Mobile) */
.header__centremob {
    display: grid;
    grid-template-columns: 1fr 1fr 10.5fr 2fr;
    flex-flow: row;
    align-items: center;
    padding: 0 1rem;
    font-family: 'PT Sans', sans-serif;}
    @media (max-width: 400px) {
    .header__centremob {
    padding: 0.5rem 0;
    grid-template-columns: 1fr 1fr 10.5fr 3fr;
}}

.mobmenu__item {
    font-size: 0.7rem!important;
}

/* Hamburger Menu */
.header__centremob--menu {
    display: flex;
    width: 20%;
    padding: 0 1rem;
    text-align: center;
    color: var(--primary-light);}
    @media (max-width: 400px) {
    .header__centremob--menu {
    padding: 0 0.3rem;
}}
.header__centremob--menu p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;}
.header__centremob--menu a {
    text-decoration: none;
    color: var(--primary-light);}

/* Branches (Mobile) */
.header__centremob--branches {
    display: flex;
    width: 20%;
    text-align: center;}
.header__centremob--branches p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;}
.header__centremob--branches a {
    text-decoration: none;
    color: var(--primary-light);}

/* Logo (Mobile) */
.header__centremob--logo {
    display: block;
    margin: 0 auto;
    width: 100px;}

.header__centremob--logo img {
    width: 150px;}
    @media (max-width: 600px) {
    .header__centremob--logo img {
    width: 100px;}}
    @media (max-width: 400px) {
    .header__centremob--logo img {
    width: 80px;
}}

/* Sign in (Mobile) */
.header__centremob--signin { font-size: 0.8rem; }
.header__centremob--signin a { text-decoration: none; color: var(--primary-light);}
.header__centremob--signin p { margin: 0.1rem 0; }
.fas.fa-lock,.mobsign-in { font-size: 1rem; }
