/*================================= 
              COLOURS
==================================*/

:root {
    --primary: #004177;
    --primary-light: #005daa;
    --primary-medium: #0d518f;
    --primary-dark: #002544;
    --secondary: #ffcf00;
    --ribbon-bg: #ed3124;
    --delivery-bg: #f3f7fa;
}

.bg__primary { background-color: var(--primary); }
.bg__secondary { background-color: var(--secondary); }
