/*=================================
              GENERAL
==================================*/

body, html {
    color: var(--primary);
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*media query sizes*/
:root {
    --mobile-small: 320px;    /*mobile small (iPhone 5)*/
    --mobile: 400px;    /*mobile small (iPhone 5)*/
    --tablet: 770px;    /*tablet*/
}