/*================================= 
          DROPDOWN MENU
==================================*/
.dropnav-wrapper {
    background-color: var(--primary);
    display: none;
    position: absolute;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.dropnav {
    font-family: var(--ptsans);
    display: flex;
    flex-flow: row;
    max-width: 1200px;
    padding: 0 5% 0 0;
    justify-content: space-between;
}

.dropnav__item {
    padding: 0.5rem 0;
}

.dropnav__link {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropnav__link:hover {
    color: var(--secondary);
}

/* Dropdown divider */
.dropnav-divider {
    background-color: var(--primary-light);
    position: absolute;
    left: 4vw;
    height: 0.15rem;
    width: 90%;
}

@media (min-width: 1200px) {
    .dropnav-divider {
        display: none;
    }
}

/* Sub Category in Dropdown menu */
.dropsubcat {
    font-family: var(--ptsans);
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    height: 3rem;
    max-width: 90%;
}

@media (min-width: 1200px) {
    .dropsubcat.medium {
        display: none;
    }
}

.dropsubcat.large {
    flex-flow: column;
    border-left: 2px solid var(--primary-light);
    height: 100%;
}

@media (max-width: 1200px) {
    .dropsubcat.large {
        display: none;
    }
}

.dropsubcat__item {
    padding: 1rem 0;
}

.dropsubcat__item {
    display: flex;
}

.dropsubcat__link {
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 1.25rem;
}

.dropsubcat__link:hover {
    color: var(--secondary);
}