/*================================= 
               MENU
==================================*/
.menu-desktop {
    background-color: var(--primary-light);
    align-items: center;
}

.menu {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

@media (max-width: 900px) {
    .menu {
        display: none;
    }
}

.desk-menu {
    height: 2.5rem;
    width: 3rem;
    display: flex;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.75rem;
    background-image: url("../../assets/images/home.svg");
}

.desk-menu:hover {
    background-color: var(--primary);
}

/*Desktop Caret Down Icon*/
.caret-down.menu {
    height: 1.4rem;
    width: 2rem;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-image: url("../../assets/images/caret_down.svg");
}

/*Mobile Caret Down Icon*/
.caret-down.mobmenu {
    height: 1.4rem;
    width: 2rem;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-image: url("../../assets/images/caret_down.svg");
}

/*Mobile Close Button*/
.mobclose {
    height: 1.4rem;
    width: 1.5rem;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-image: url("../../assets/images/close.svg");
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--norwester);
    font-size: 1.1rem;
    letter-spacing: 1.25px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 2.5rem;
}

@media (max-width: 990px) {
    .menu-item {
        padding: 0 0.35rem;
        font-size: 0.9rem;
    }
}

.menu-item > a {
    text-decoration: none;
    color: white;
}

.menu-item svg.menu {
    margin: 0;
    padding: 0 1rem;
}

.menu-item:nth-of-type(0), .menu-item:hover > .caret-down.menu {
    transform: rotate(180deg);
    transition-delay: 0.5s;
}

.menu-item:hover {
    background-color: var(--primary);
    cursor: pointer;
}