/*================================= 
              RIBBON
==================================*/

.ribbon {
    background-color: var(--ribbon-bg);
    font-family: var(--ptsans);
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: white;
    padding: 0.5rem;
}

/* Ribbon Font Weights */
.ribbon strong {
    font-weight: 500;
}

.ribbon__text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Ribbon link */
.ribbon__link {
    color: white;
    text-decoration: unset;
}

.ribbon__link:hover {
    text-decoration: underline;
}